<div class="contents row">
  <p><%= @name %>さんの結果一覧</p>
</div>

<h3>なんでもメモ</h3>
<%= form_with model: @message do |f| %>
  <%= f.text_field :text %>
  <%= f.submit '送信' %>
<% end %>
<div id='messages'>
  <% @messages.reverse_each do |message| %>
    <p><%= message.text %></p>
  <% end %>
</div>